.wel{
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #aac0aa;
}

.centered{
    display: block;
    margin: auto;
}

.bordered{
    border-radius: 10px;
    border:2px solid #000000;
}